/**
 * WP Tutorials : Swiper JS Gallery (WPTSJG)
 *
 * https://wp-tutorials.tech/refine-wordpress/multiple-gallery-effects-with-swiper/
 */

 .wpt-swiper-gallery {
    position: relative;
    margin-bottom: 4em;
 }
 
 .swiper-slide {
    background-position: center;
    background-size: cover;
 }
 
 .wpt-swiper-mode-cards .swiper-slide,
 .wpt-swiper-mode-cube .swiper-slide {
    width: 100%;
    height: 20em;
 }
 
 .wpt-swiper-mode-coverflow .swiper-slide {
    width: 20em;
    height: 15em;
 }
 
 .wpt-swiper-gallery .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
 
 .wpt-swiper-gallery .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


/* Colors */
.wpt-swiper-gallery .swiper-button-next,
.wpt-swiper-gallery .swiper-button-prev {
  color: var(--bs-primary);
}

.wpt-swiper-gallery .swiper-pagination-bullet {
  background: var(--bs-dark);
}

.wpt-swiper-gallery .swiper-pagination-bullet-active {
  background: var(--bs-primary);
}
